<%- include('partials/header') -%>

<header>
    <h1>SOSS</h1>


    <a href="/loginPage">
        <button>Login</button>
    </a>
</header>


<a href="/losts/addLostPage" class="add-lost"><button>إضافة مفقود</button></a>


<!-- <form action="">
    <input type="text" placeholder="أ=اسم المفقود">



        <textarea name="" id="" placeholder="معلومات عن المفقود"></textarea>
        <section>
            <input type="file" class="form-control" id="imageUpload" name="file" size="100">
            <button>post</button>
        </section>
  
</form> -->


<h2>المفقودين</h2>
<section class="persons">
    <section class="person-card">
        <img src="https://th.bing.com/th/id/R.0301819f445a8855c4a577a6763fb62d?rik=TT%2fgaYZuz1YEig&riu=http%3a%2f%2fanhede.se%2fwp-content%2fuploads%2f2014%2f01%2f130221-2528.jpg&ehk=LToqkipED3KxGj7CVuMoQrvi487RY2HN6IPZ59FCWNQ%3d&risl=&pid=ImgRaw&r=0" alt="">
        <h3>someone name </h3>
        <span>Posted by: user1 </span>
        <span>Status: found</span>
    </section>
    <section class="person-card">
        <img src="https://th.bing.com/th/id/R.0301819f445a8855c4a577a6763fb62d?rik=TT%2fgaYZuz1YEig&riu=http%3a%2f%2fanhede.se%2fwp-content%2fuploads%2f2014%2f01%2f130221-2528.jpg&ehk=LToqkipED3KxGj7CVuMoQrvi487RY2HN6IPZ59FCWNQ%3d&risl=&pid=ImgRaw&r=0" alt="">
        <h3>someone name </h3>
        <span>Posted by: user1 </span>
        <span>Status: found</span>
    </section>
    <section class="person-card">
        <img src="https://th.bing.com/th/id/R.0301819f445a8855c4a577a6763fb62d?rik=TT%2fgaYZuz1YEig&riu=http%3a%2f%2fanhede.se%2fwp-content%2fuploads%2f2014%2f01%2f130221-2528.jpg&ehk=LToqkipED3KxGj7CVuMoQrvi487RY2HN6IPZ59FCWNQ%3d&risl=&pid=ImgRaw&r=0" alt="">
        <h3>someone name </h3>
        <span>Posted by: user1 </span>
        <span>Status: found</span>
    </section>

</section>



<%- include('partials/footer') -%>