<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HayaFooty</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"

      
      href="/imgs/favicon-32x32.png"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
<header>
    <h1>SOSS</h1>


    <a href="/loginPage">
        <button>Login</button>
    </a>
</header>


<main>
    <h2>تسجيل جديد <br>
        SignUp</h2>

    <form action="/signup" method="POST">
        <input type="text" class="form-control" id="userName" name="userName" placeholder="Username ... إسم المستخدم ">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Your Email ... البريد الإلكتروني">
        <input type="password" class="form-control" id="password" name="password" placeholder="Your Password ... كلمة المرور ">
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="confirm password ... أعد كتابة كلمة المرور">
        <section class="login-toggletosihnup">
            <button type="submit" class="btn btn-primary loginpageBtn">Sign Up</button>
            <a href="/loginPage">go to Login Page</a>

        </section>
    </form>

</main>








<%- include('partials/footer') -%>