  *{
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
  }

.profile-header {
    /* display: flex; */
    /* justify-content: space-around; */
    /* border: 1px solid black; */
    /* padding: 50px 0; */
    /* width: 300px; */
    /* max-width: 300px; */
    
    background: whitesmoke;
    width: 300px;
    min-height: 500px;
    margin: 0 auto;
    /* margin-top: 10px; 50 */
    margin-bottom: 10px; /*50px */
    border-radius: 10px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.701);
/* height: 500px; */
/* border: 3px dotted brown; */
margin-right: 100px;

}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    height: 92vh;
    padding: 0 10%;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100px;
    background: whitesmoke;
    height: 100vh;
    transition: .5s ease;
}

aside:hover {
width: 200px;}

aside ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    height: 90%;
    text-decoration: none;
    list-style: none;
}

aside ul li {
    display: flex;
    align-items: center;
}

.sidenavbtn--txt {
    display: none;
}

.profile-pic-container {
    /* border: 1px solid black; */
    /* width: 300px; */
    width: 150px; /*500px */ /*40% */
    height: 150px;  /*100% */
/* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.701); */
/* border-radius:10px 0 0 0; */
border-radius: 50%;
}

.profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* border-radius: 10px 0 0 10px; */

}

.profile-intro-section {
    display: flex;
    flex-direction: column;
    width: 100%; /*500px *//* 60% */
    /* max-height: 300px; */
    height: 100%;
    background: white;
    /* border-radius: 0 10px 10px 0; */
    border-radius: 10px;
    /* border: 1px solid black; */
/* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.701); */
}

.profile-intro-section  .profile-header--header{
    /* background: rgb(211, 74, 74); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(150, 57, 57);
    color: #fff;
    padding: 20px;
    border-radius:  10px 10px 0 0;
    height: 50%;
    text-align: center;
}

.profile-intro-section section h2 {
    color: #fff;
}

.profile-intro-section section h3 {
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 0 auto;
}

.profile-intro-section a {
    margin-bottom: 20px;

}

.profile-info a {
    display: flex;
    align-items: center;
    color: brown;
    text-decoration: none;
}
.bxl-twitter, .bxl-facebook-square , .bx-phone {
    font-size: 30px;
    color: brown;
} 

.profile-main {
    flex-direction: column;
    display: flex;
    /* justify-content: space-between; */
    /* padding: 0 25%; */
    border: 3px dotted brown;
    width: 60vw;
    margin: 0 auto;
    /* background: whitesmoke; */
    /* padding: 20px 0; */
    border-radius:10px;
/* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.701); */
/* margin-bottom: 50px; */
padding-bottom: 20px;
height: 70vh;
}

.bio {
    position: sticky;
    top: 0;
    left: 0;
    width: 40%; /* 300px */
    height: 200px;
    min-height: 200px;
    padding: 20px 0 ;
    background: white;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.701);
border-radius: 10px 0 10px 0;

}

.bio h4 {
    padding: 2%;
    color: brown;
}

.bio p {
    padding: 2%;
}

.posts {
    display:flex;
    /* display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr; */
    padding: 10px 0;
    max-width: 96%; /*500px*/
    /* border: 1px solid black; */
    height: fit-content;
    margin: 0 auto;
/* border: 3px dotted brown; */
border-top: 1px solid brown;
border-bottom: 1px solid brown;

/* border-radius: 10px; */
margin-bottom: 20px;
overflow-x: auto;
}

.posts-scroller {
    display: flex;
}

.posts .person-card{
    margin: 0 20px;
}

.section-title {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    color: grey;
    padding: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    /* background: green; */
    height: 50%;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid black; */
    padding: 0 20px ;
}

.profile-info a {
    text-decoration: none;
    font-size: 16px;
}

/* hr {
    height: 2px ;
    background: black;
    width: 50px;
} */