  *{
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
        /* background: whitesmoke; */

}
  
  main {
      /* display: flex; */
      display: grid;
      grid-template-columns: 1fr 3fr;
      /* align-items: center; */
      /* justify-content: center; */
      /* border: 1px solid black; */
      height: 100vh;
      /* padding: 0 10%; */
    }

    .profile-header-container {
        position: relative;
/* border: 1px solid black; */
width: 400px;
height: 100vh;
    }
    .profile-header {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* border: 1px solid black; */
        /* padding: 50px 0; */
        /* width: 300px; */
        /* max-width: 300px; */
        position: fixed;
        top: 0;
        left: 0;
        /* background: whitesmoke; */
        min-width: 400px;
        max-width: 400px;
        height: 100vh;  
        /* min-height: 600px; */
        /* margin: 0 auto; */
        margin-bottom: 10px; /*50px */
        /* border-radius: 10px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.701);
    /* height: 500px; */
    /* border: 3px dotted brown; */
    /* margin-right: 100px; */
    
    }
    
/* aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100px;
    background: whitesmoke;
    height: 100vh;
    transition: .5s ease;
} */

aside:hover {
width: 200px;}

aside ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    height: 90%;
    text-decoration: none;
    list-style: none;
}

aside ul li {
    display: flex;
    align-items: center;
}

.sidenavbtn--txt {
    display: none;
}

.profile-pic-container {
    /* border: 1px solid black; */
    /* width: 300px; */
    width: 150px; /*500px */ /*40% */
    height: 150px;  /*100% */
/* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.701); */
/* border-radius:10px 0 0 0; */
border-radius: 50%;
margin-bottom: 10px;
}

.profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* border-radius: 10px 0 0 10px; */
}

.profile-intro-section {
    display: flex;
    flex-direction: column;
    width: 100%; /*500px *//* 60% */
    /* max-height: 300px; */
    /* height: 100%; */
    /* background: white; */
    /* border-radius: 0 10px 10px 0; */
    /* border-radius: 10px; */
    /* border: 1px solid black; */
/* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.701); */
}

.profile-intro-section  .profile-header--header{
    /* background: rgb(211, 74, 74); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(150, 57, 57);
    color: #fff;
    padding: 20px 0;
    /* border-radius:  10px 10px 0 0; */
    /* height: 50%; */
    text-align: center;
}

.profile-intro-section section h2 {
    color: #fff;
}
.profile-intro-section h3 {
    font-size: 18px;
    /* border: 1px solid black; */
    text-align: center;
    margin-bottom: 5px;
}

.profile-intro-section h4 {
    font-size: 13px;
    /* border: 1px solid black; */
    text-align: center;
}
/* .profile-intro-section section h3 {
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 0 auto;
} */

.profile-intro-section a {
    margin-bottom: 20px;

}

.profile-info {
    display: flex;
    /* flex-direction: column; */
    /* background: green; */
    /* height: 50%; */
    /* border-radius: 0 0 10px 10px; */
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid black; */
    /* padding: 0 20px ; */
}

.profile-info a {
    display: flex;
    width: fit-content;
    text-decoration: none;
    font-size: 13px;
    /* border: 1px solid black; */
}
.profile-info a {
    display: flex;
    align-items: center;
    color: brown;
    text-decoration: none;
    /* border: 1px solid; */
    /* width: 100%; */
}
.bxl-twitter, .bxl-facebook-square , .bx-phone {
    font-size: 30px;
    color: brown;
} 
.profile-header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    /* border: 1px solid black; */
    color: brown;
    height: 50%;
}

.profile-header ul a {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.profile-header ul a:active, .profile-header ul a:focus .profile-header ul a {
    text-decoration: none;
    color: brown;
}
.profile-header ul li {
    display: flex;
    align-items: center;
    /* justify-content: space-betwee; */
    list-style: none;
    font-size: 18px;
    width: 100%;
    text-decoration: none;
    color: brown;
    text-align: center;
}

.profile-header ul li span {
    text-decoration: none;
}

.profile-header ul li i {
    margin-right: 10px;
    margin-left: 30%;
}

.profile-header ul  hr {
    width: 90%;
    height: 3px;
    background: brown;
}
/* profile-main-container */
.profile-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 100vh;
    /* width: 80vw; */
}
.profile-main {
    flex-direction: column;
    display: flex;
    /* justify-content: space-between; */
    /* padding: 0 25%; */
    border: 3px dotted brown;
    width: 60vw; /* 50vw */
    margin: 0 auto;
    /* background: whitesmoke; */
    /* padding: 20px 0; */
    border-radius:10px;
/* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.701); */
/* margin-bottom: 50px; */
padding-bottom: 20px;
height: 600px;
}

.bio {
    /* position: sticky; */
    top: 0;
    left: 0;

    /* width: 40%; 300px */
    /* height: 200px; */
    /* min-height: 200px; */
    /* border: 1px solid black; */
    padding: 20px 0 ;
    background: white;
/* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.701); */
/* border-radius: 10px 0 10px 0; */
text-align: center;
}

.bio h4 {
    padding: 2%;
    color: brown;
}

.bio p {
    padding: 2%;
    font-size: 13px;
}

.posts {
    display:flex;
    /* display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr; */
    padding: 10px 0;
    max-width: 96%; /*500px*/
    /* border: 1px solid black; */
    align-items: center;
    height: fit-content;
    margin: 0 auto;
    height: 50%;
/* border: 3px dotted brown; */
/* border-top: 1px solid brown; */
border-bottom: 1px solid brown;

/* border-radius: 10px; */
margin-bottom: 20px;
overflow-x: auto;
}

.posts-scroller {
    display: flex;
border-bottom: 1px solid brown;

}

.posts .person-card{
    margin: 0 20px;
}

.section-title {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    color: grey;
    padding: 20px;
}




/* hr {
    height: 2px ;
    background: black;
    width: 50px;
} */

@media all and (max-width: 1000px) {
    main {
        grid-template-columns: 1fr;
    }
.profile-header-container {
    height: fit-content;
    margin: 0;
}
    .profile-header {
        position: relative;
        min-width: 100vw !important;
        max-width: 100vw !important;
        /* border: 1px solid green; */
        height: fit-content;
        margin: 0;
    }

    .profile-header ul {
        display: none;
    }
    .profile-main {
        width: 96vw;
    }
}

@media all and (max-width: 400px) {
    
}